@import 'bootstrap';

@font-face {
    font-family: 'Bernierd';
    src: url(./fonts/BERNIERDISTRESSED-REGULAR.OTF);
}
@font-face {
    font-family: 'PT_Sans';
    src: url(./fonts/PT_Sans-Web-Regular.ttf);
}

body {
    font-family: 'PT_Sans';
}

.header-color {
    color: #D68C67;
}
.header-font {
    font-family: 'Bernierd';
}
.blue-dark {
    color: #4F7290;
}
.blue {
    color: #496F91;
}

.responsive-header {
  font-size: clamp(1rem, 9vw, 3rem);
}
.responsive-header-welcome {
  font-size: clamp(1.5rem, 10vw, 3.2rem);
}
.responsive-text {
  font-size: clamp(0.7rem, 1vw, 3rem);
}
.responsive-text-s {
  font-size: clamp(0.7rem, 0.8vw, 2rem);
}
.responsive-text-m {
  font-size: clamp(1rem, 1.5vw, 3rem);
}

.welcom-bg {
    background: url(./img/welcome_bg.jpg);
    background-position: center;
    background-size: cover;
}
.btn-bg {
  background: linear-gradient(to right, #FE8A30, #d97a5f);
}
.welcome_card_bg {
    background: url(./img/welcome_card_bg.png);
    background-size: cover;
    background-position: center;
}
.text-bg-about-course {
    background: url(./img/about_of_course_bg.jpg);
}
.rate-bg {
    background: url(./img/rate_bg.jpg);
    background-size: cover;
    background-position: center;
}

.border-el {
    border: 4px solid #FFD5B4;
}

.btn-about-of-course {
    border: 1px solid #496F91;
    color: #496F91;
    background-color: #EDFBFE;
    border-radius: 5rem;
}
.paints-about-of-course {
    border: 1px solid #496F91;
    border-radius: 1rem;
}

.nav-shadow {
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
}